/* CSS Document */
/* font-arial.css */
body { font-family: Arial, sans-serif; }
code { font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; }

h1,h2,h3,h4,h5,h6 { color:#333; font-weight:normal; margin:0; padding:0; text-transform:none; }

h1 { margin:20px 0 10px; padding:0; font-size:24px; font-weight:normal; line-height:1.25;}
h2 { margin:20px 0 0 0; font-size:20px; line-height:1.5; }
h3 { margin:20px 0 5px 0; font-size:16px; font-weight:bold; line-height:1.5625; }
h4 { font-size:14px; line-height:1.5; }
h5 { font-size:12px; line-height:1.66; color:#707070; text-transform:uppercase; }
h6 { margin:10px 0 0 0; font-size:12px; line-height:1.66; color:#747474; }