/* CSS Document */
body { background:none #fff; 
		width:auto; 
		margin:0 1em 0 0; padding:0;
		font-family:"Arial CE", Arial, Verdana, sans-serif; }
		
#main {	margin:0; 
		padding:0; }		
#titlebar, #header,#topnav,#smltopnav,#stdtopnav,.nav,.trail,#footnavbox,
#pagefooter,#footer,#sidebarbox,#sidebar,td#left-box,td#right-box,#rightbar,.noprint {display:none}

h1, h2, h3, h4, h5, h6, #wikitext {font-family:"Arial CE", Arial, Verdana, sans-serif; }

#titlebarbox { margin:0 0 0.2em 0; 
		padding:0 0 0.2em 0; 
		/*border-bottom:2pt solid #999;*/ }
.pagegroup {padding:0.2em 0.3em 0 0; font-size:12pt;}
.pagetitle {padding-bottom:0;	font-size:15pt;}
#content {margin:0 1em 0 0 ; padding:0; font-size:10pt}
a {text-decoration:none; color:black}
h1 { font-size:20pt; font-weight:600; padding:5px 0}
h2 { font-size:18pt; font-weight:600;padding-bottom:3px}
h3 { line-height:0.3em; font-size:16pt; font-weight:600;}
h4 { font-size:14pt; font-weight:600;}
h5 { font-size:12pt; font-weight:600;}
h6 { font-size:11pt; font-weight:600;font-variant:small-caps;}

hr {color:#999;}
