#editpreview {
	position:absolute; 
	top:10px; 
	left:50%;
  left:477px; 
	width:960px;
	border: 1px solid #ccc;
  border-radius: 5px;
	background:#fff;
	z-index:9999;
}
* html #editpreview { width:100%; left:2em; }
.previewheader {
	border-bottom:1px solid #ccc;
	padding:5px; 
	background:#fff; 
}
.previewcontent { 
	padding:0 1em; 
}
.previewfooter {
	border-top:1px solid #ccc; 
	padding:5px;
	background:#fff; 
}
#edithelp {
	position:absolute;
	top:100px;
	right:10px;	
	width:250px;
  padding:3px;
  background:#fff;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:14px;
  line-height:1.5;
}