/* CSS Document */
/* dcs-light.css - světlá verze šablony */
body { background:#eeeeef; font-size:100%;} 
#outer-box { border:1px solid #999; 
background:#eee;
-webkit-box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.4);
box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.4);} 
#left-box { border-right:1px dotted #999; background:#f6f6f6;  }  
#right-box { border-left:1px dotted #999; background:#f6f6f6;  }
#center-box { background:#fff; }
#footnavbox { background:#fff; text-align:center; } /* main background color */

a:link   { color:#0645AD;text-decoration: none;}
a:visited{ color:#0b0080;text-decoration: none;}
a:active { color:#faa700;text-decoration: underline;}
a:hover  { color:#0645AD;text-decoration: underline;}

/*#header { background:#eee  }  set header background image here */

/* HTML5 konverze */
#outer-box {border-spacing:0;border:0;border-collapse:collapse;margin:auto;}

#topnav {  /* background:#fff;  toplink bar background color */
			border-bottom:0px dotted #999;  }
#topnav a, #topnav ul li { color:#666; }		
#topnav a:hover, #topnav li a:active {color: #009; background: #fff; } /* hover colors */

#titlebar a { }
#titlebar a:hover { text-decoration:underline; }

.quickref { background:#eef }	 

#sidebar p, #sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4 { color:#666 }
#sidebar .sidehead, #sidebar p.sidehead a.wikilink { color:#666 } /*#5F5F30*/
#sidebar h1 a:link, #sidebar h1 a:visited { xcolor:#FFC27F; }
#sidebar h1 a:hover, #sidebar h1 a:active,
#sidebar a:link { color:#666; }
#sidebar a:visited { color:#555; }
#sidebar a:hover, #sidebar a:active { text-decoration:underline; }
#sidebar p.sidehead a.wikilink:hover  { color:#666; }
#sidebar p.sidehead a.wikilink:active { color:#666; }
#xxsidebar li a:hover, #sidebar li a:active  { color:#666; text-decoration: underline; }
#sidebar li, #sidebar h1 { border-bottom: 1px solid #999; border-top:1px;}
#sidebar ul ul li  { border-top:0px solid #999; border-bottom:0;}
#sidebar a:hover.selflink { color:#666; text-decoration: underline; }

.inputbox, textarea, .inputtext, input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]) {
	padding: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #cecece;
	outline: none;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25 ease-in-out;
    -o-transition: all 0.25s ease-in-out; 
}
.inputbox:hover, textarea:hover, input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):hover {
	border: 1px solid #bdbdbd;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
}

.inputbox:focus, textarea:focus, input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):focus {
	border: 1px solid #95bdd4;
	-webkit-box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
}

.inputbutton, .navbuttons li a { display: block; color: #313131; position: relative; padding: .2em .5em; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; -webkit-user-select: none; -moz-user-select: none; user-select: none; line-height: 1.4; font-size: 12px; font-weight: normal; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); }
.inputbutton:hover, .navbuttons li a:hover {
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset; 
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset;
}
.inputbutton:active, .navbuttons li a:active {
	outline: none;
	border-color: #7096ab;
	background: #ededed url(images/bg_fallback.png) 0 -50px repeat-x; /* Old browsers */
		background: -moz-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9e0f5), color-stop(100%,#92bdd6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%); /* IE10+ */
		background: linear-gradient(top, #b9e0f5 0%,#92bdd6 100%); /* W3C */
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset; 
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset;
}
.inputbutton, .navbuttons li a {
    border: 1px solid #B6B6B6;
    color: #4F4F4F;
    background: #ededed url(images/bg_fallback.png) 0 0 repeat-x; /* Old browsers */
		background: -moz-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ededed 0%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ededed 0%,#c4c4c4 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ededed 0%,#c4c4c4 100%); /* IE10+ */
		background: linear-gradient(top, #ededed 0%,#c4c4c4 100%); /* W3C */
	  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
	  moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
	  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;     
    -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
    -moz-transition: -moz-box-shadow 0.25s ease-in-out;
    -o-transition: -o-box-shadow 0.25s ease-in-out;
}

.nav li a:hover {text-decoration: underline;}

.inputbutton { display:inline; }
.navbuttons li a { font-weight: bold; }
imput.inputbutton, input.navbuttons li a { font-size: 14px; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); padding: 0 1em !important; height: 33px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input.ui-button {
		height: 31px !important;
	}
}

#footer { padding: 2px; height: 20px; }			
#footer-box { border-top:1px dotted #999; }

#content ul { list-style-image: url(../images/bullet.png); }
#rightbar ul { list-style:none; }

#rightbar a.fontsizer, #header a.fontsizer  { 
		color:#006;
		background:#eee; /*BED0E4;*/ 
		border-top:0;
		border-left:0;
		border-bottom:1px solid #1D5183;
		border-right:1px solid #1D5183;}
#content a.fontsizer { background:#eee; }
#sidebar a.fontsizer { background:#eee; }
#header a.fontsizer:hover { color:#900; background:#fff; }
#rightbar a.fontsizer:hover { color:#900; background:#fff; }
#sidebar a.fontsizer:hover { color:#900; background:#fff; }
#content a.fontsizer:hover { color:#900; background:#fff; }

#toggleright input, #toggleleft input{ 
		color:#666; 
		background:#fff;
		border:none; }
#toggleleft input { border-right:1px solid #666 }
#toggleright input { border-left:1px solid #666 }
#toggleright input:hover, #toggleleft input:hover { color:#009; background:#eee; }

#rightbar { padding:0px 3px 3px 3px; }

.clip, .news { border:1px solid #999;
		background:#fff;
		padding:3px 3px 3px 8px;
		margin-top:0px; margin-bottom:5px; }
		
#sidebar .sideclip { border:1px solid #999;
		color:#000;
		background:#fff;
		padding:2px 0px;
		margin:5px 5px 0 5px; }
#sidebar .sideclip p, #sidebar .sideclip h4 { 
		color:#000;
		line-height:1.2em;}
#sidebar .sideclip a { color:blue }		

#editpreview { border-color:#B4B4D9; background:#fff; }
.previewheader, .previewfooter, #edithelp { border-color:#B4B4D9; background:#F5F5FF;}

/* commentbox styled */
.messagehead { background:#eee; }
.messageitem { background:#fff; }

h1, h2, h3 {font-weight: normal;}

